* {
    margin: 0;
    padding: 0;
}

.beijing input[type='checkbox'],
.beijing input[type='radio'] {
    display: none;
}

.beijing {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.tupianqukuai {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tupian {
    min-block-size: 80vw;
    border-radius: 50%;
    animation: tupianxuanzhuan 0s;
    /*animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}

.bofangzantingtubiao {
    position: absolute;
    top: 70vh;
    left: 20vw;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-image: url(https://i.postimg.cc/436dBKvV/image.png);
    background-size: 20vw;
}

.bofangliebiaotubiao {
    position: absolute;
    top: 70vh;
    right: 20vw;
    width: 20vw;
    height: 20vw;
    background-image: url(https://i.postimg.cc/kM1Hhqyp/image.png);
    background-size: 20vw;
}

.bofangliebiao {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: #FFFFFF;
    text-indent: 5vw;
    line-height: 1.5em;
    font-size: 5vh;
    transition: 0.5s;
    overflow: hidden;
    overflow-y: scroll;
    color: #8289DF;
    z-index: 999;
}

.bofangliebiaoyinying {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: #000;
    transition: opacity 0.5s;
    opacity: 0;
    overflow: hidden;
    z-index: 998;
}

@keyframes tupianxuanzhuan {
    100% {
        transform: rotate(360deg);
    }
}

input#bofangzantinganjian:checked~.tupianqukuai .tupian {
    animation: tupianxuanzhuan 30s infinite linear;
}

input#bofangzantinganjian:checked+label span {
    background-image: url(https://i.postimg.cc/YCgy9gB5/image.png)
}

input#bofangliebiaoanjian:checked~.bofangliebiao {
    height: 70vh;
}

input#bofangliebiaoanjian:checked+label span.bofangliebiaoyinying {
    height: 100vh;
    opacity: 0.6;
}

.bofangliebiao input[type='radio']:checked+label {
    margin-left: 5vw;
    color: #B4B683;
}