*{
    margin: 0;
    padding: 0;
}
.zwai{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.zwai input[type='checkbox']{
    display: none;
}
.tp{
    position: absolute;
    top: 20%;
    min-block-size: 80vw;
    border-radius: 50%;
    animation: aaa 0s;
    /*animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}
.bfztaj{
    position: absolute;
    top: 70%;
    left: 20%;
    width: 20vw;
    height: 20vw;
    background-image: url(https://i.postimg.cc/436dBKvV/image.png);
    background-size: 20vw;
    background-repeat: no-repeat;
    border: none;
    background-color: unset;
}
.bflbaj {
    position: absolute;
    top: 70%;
    right: 20%;
    width: 20vw;
    height: 20vw;
    background-image: url(https://i.postimg.cc/kM1Hhqyp/image.png);
    background-size: 20vw;
    background-repeat: no-repeat;
    border: none;
    background-color: unset;
}
.gqxz {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #FFFFFF;
    text-indent: 20px;
    line-height: 60px;
    font-size: 30px;
    transition: 0.2s;
    overflow: hidden;
}
.gqxz p{
    color: #8289DF;
}
.qx{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0.5;
    transition: 0.01s;
    overflow: hidden;
}
@keyframes aaa {
    100% {
        transform: rotate(360deg);
    }
}
.zwai input#bfzt:checked~.tp{
    animation: aaa 30s infinite linear;
}
.zwai input#bfzt:checked+label button{
    background-image: url(https://i.postimg.cc/YCgy9gB5/image.png)
}
.nei input#bflb:checked~.gqxz{
    width: 100vw;
    height: 70vh;
}
.nei input#bflb:checked+label span{
    width: 100vw;
    height: 30vh; 
}