:root {
    --bg: #fff;
    --bg2: #9FA3B3;
    --bg3: #B0F7FF;
    --input_bg: #555;
    --input_bg2: #333;
    --input_color: #fff;
    --input_color2: #C6C6C6;
    --input_color3: #282828;
    --color: #000;
}

* {
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: #87E2FF;
}

a:visited {
    text-decoration: none;
    color: #5C8AFF;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.divA {
    width: 100vw;
    height: 50px;
    background-color: var(--bg);
    color: var(--color);
    transition: 0.3s;
    box-shadow: 0px 0px 5px #000;
    position: absolute;
}

.divA input[type='checkbox'][id] {
    display: none;
}

.divA_inputA_divA {
    position: absolute;
    left: 10px;
    top: 21px;
    width: 45px;
    height: 8px;
    border-radius: 10px;
    background: var(--input_bg2);
}

.divA_inputA_divA:before{
    content: '';
    position: absolute;
    top: -12px;
    width: 45px;
    height: 8px;
    border-radius: 10px;
    background: var(--input_bg2);
}

.divA_inputA_divA:after{
    content: '';
    position: absolute;
    top: 12px;
    width: 45px;
    height: 8px;
    border-radius: 10px;
    background: var(--input_bg2);
}

.divA_inputB {
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background-color: var(--input_bg);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 5px;
    top: 5px;
}

.divA_inputB:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
    background-color: var(--input_color);
    border-radius: 50%;
    transition: left 0.3s ease-in-out;
}

.divA_inputB:after {
    content: "OFF";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 38px);
    font-size: 18px;
    color: var(--input_color);
}

.divA_inputB:checked:before {
    left: calc(100% - 36px);
}

.divA_inputB:checked:after {
    content: "ON";
    left: 7px;
}

.divA_inputB_span{
    position: absolute;
    top: 5px;
    right: 95px;
    font-size: 25px;
}

.divA_divA {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: var(--bg);
    transition: width 0.3s;
    overflow: hidden;
    overflow-y: scroll;
}

.divA_divA_divA {
    height: 50px;
    background-color: var(--bg2);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divA_inputA_spanA {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #000;
    transition: opacity 0.5s;
    opacity: 0;
    overflow: hidden;
}

.divA_divA_divB>label {
    position: relative;
    left: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 30px;
}

.divA_divA_divB_input_spanA {
    position: absolute;
    top: 10px;
    right: 24px;
    font-size: 22px;
    color: var(--input_color2);
    transition: transform 0.4s;
}

.divA_divA_divB_divA {
    position: relative;
    left: 40px;
    height: 0;
    overflow: hidden;
    font-size: 20px;
    transition: height 0.4s;
}

.divC {
    width: 100vw;
    height: 50px;
    float: left;
    box-shadow: 0px 0px 5px #000;
    color: var(--color);
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    background-color: var(--bg);
}

.divB {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: var(--bg3);
    position: absolute;
    top: 50px;
    z-index: -1;
    overflow: hidden;
    overflow-y: scroll;
}

.divB .divB_divA {
    width: calc(100vw - 10px);
    float: left;
    margin: 5px;
    margin-bottom: 0;
}

.divB .divB_divA img {
    border-radius: 10px;
    width: calc(100vw - 10px);
    height: auto;
}

.divB .divB_divB {
    width: calc(50vw - 7.5px);
    float: left;
    margin: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.divB .divB_divC {
    width: calc(50vw - 7.5px);
    float: left;
    margin-right: 5px;
}

.divB .divB_divB img,
.divB .divB_divC img {
    border-radius: 10px;
    width: calc(50vw - 7.5px);
    height: auto;
}

input#divA_inputA:checked~.divA_divA {
    width: 70vw;
}

input#divA_inputA:checked+label span {
    width: 100vw;
    opacity: 0.5;
    height: 100vh;
}

input#divA_divA_divB_inputA:checked~.divA_divA_divB_divA {
    height: calc(5 * 30px);
}

input#divA_divA_divB_inputB:checked~.divA_divA_divB_divA {
    height: calc(1 * 30px);
}

input#divA_divA_divB_inputC:checked~.divA_divA_divB_divA {
    height: calc(11 * 30px);
}

input#divA_divA_divB_inputA:checked+label .divA_divA_divB_input_spanA,
input#divA_divA_divB_inputB:checked+label .divA_divA_divB_input_spanA,
input#divA_divA_divB_inputC:checked+label .divA_divA_divB_input_spanA {
    transform: rotate(180deg);
    transform: matrix(50%);
    color: var(--input_color3);
}