a:link{
    color: #00FFD4;
}
a:visited{
    color: #D1A3DA;
}
.xsyc{
    width: 500px;
    height: 100vh;
    position: absolute;
    top: 0;
}
.xsyc input {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
}
.zyjt{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 60px;
    background-color: #5C9CC8;
    color: #e3f9ff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 0px 0px 4px 0px #000;
}
.xsyc input#zyjt:checked+label span{
    transform: rotate(180deg);
    left: 475px;
    background-color: #e3f9ff;
    color: #5C9CC8;
}
.xsyc input#zyjt:checked~.wai{
    width: 500px;
    height: 100vh;
    padding: 3px 6px;
}
.zyjt:before{
    content: ">";
}
.wai {
    width: 0;
    height: 0;
    background-color: #C1F2FF;
    color: #5C9CC8;
    transition: all 0.3s;
    letter-spacing: 0.5px;
    overflow: hidden;
    box-sizing: border-box;
}
.bt{
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
    color: #0E6CAD;
}
.nei>label{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.nei>label>span {
    flex: 1;
}
.nei span{
    font-size: 50px;
}
.wzpbjj{
    position: absolute;
    right: 20px;
    font-size: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    transform: rotate(90deg);
}
.wzpbjj:before {
    content: ">";
}
.ljtz {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
}
.ljtz span{
    width: 100%;
    text-indent: 20px;
    line-height: 30px;
}
.nei input#wzpbjj:checked+label .wzpbjj {
    transform: rotate(270deg);
    color: #0000FF;
}
.nei input#wzpbjj:checked~.ljtz{
    height: calc(2 * 70px);
}
.nei input#wzpbjj1:checked+label .wzpbjj {
    transform: rotate(270deg);
    color: #0000FF;
}
.nei input#wzpbjj1:checked~.ljtz{
    height: calc(2 * 70px);
}